body {
  margin: 0;
}

.alert {
  color: red;
  font-family: 'Montserrat', sans-serif;
}

.alert-hidden {
  display: none;
}

.alert-border {
  border-color: red;
}

.Bookstore-CMS {
  width: 1600px;
  padding-top: 147px;
  background-color: #f5f6fa;
}

.panel-bg {
  width: 1400px;
  border-radius: 4px;
  margin: 0 auto;
  background-color: #fafafa;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.panel-nav {
  width: 1400px;
  height: 95px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}

.bookstore-logo {
  width: 240px;
  height: 37px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
  margin: 29px 0 29px 100px;
}

.books-button {
  width: 59px;
  height: 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  margin: 41px 0 38px 47px;
}

.categories-button {
  border: none;
  height: 16px;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: #121212;
  margin: 41px 0 38px 41px;
  background-color: inherit;
}

.user-icon {
  width: 17px;
  height: 17px;
  color: #0290ff;
  margin: 37px 113px 41px 670px;
}

.li-panel {
  width: 1200px;
  height: 170px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.category {
  width: 49px;
  height: 18px;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-data {
  margin: 32px 0 0 27px;
}

.book-progress {
  display: flex;
  flex-direction: column;
  width: 184px;
  margin: 33px 147px 0 0;
  padding-left: 59px;
}

.current-chapter {
  height: 18px;
  opacity: 0.5;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  margin-bottom: 7px;
}

.chapter {
  height: 21px;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
  margin-bottom: 23px;
}

.button-text {
  width: 184px;
  height: 33px;
  border-radius: 3px;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  background-color: #0290ff;
  border: none;
}

.place-holder-square {
  background-color: #0290ff;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  width: 90px;
  height: 90px;
  margin-top: 38px;
  margin-left: 100px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.separation-bar {
  margin-top: 38px;
  padding-left: 100px;
  height: 90px;
  border-right: solid 1px #e8e8e8;
}

.book-title {
  width: 440px;
  height: 29px;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  overflow: hidden;
}

.book-author {
  width: 107px;
  height: 19px;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  margin-bottom: 21px;
}

.book-options {
  height: 19px;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}

.remove {
  background: none;
  border: none;
  box-sizing: content-box;
}

.book-options-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 220px;
}

.Line-2 {
  width: 2px;
  height: 24px;
  border: solid 1px #e8e8e8;
}

.book-list {
  padding: 0;
  margin-left: 100px;
}

.add-book {
  width: 190px;
  height: 24px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.form-container {
  border-top: solid 1px #e8e8e8;
  margin: 40px 100px;
  padding-bottom: 265px;
}

.vertical-line {
  border: solid 1px #e8e8e8;
}

.add-book-input {
  width: 634px;
  height: 45px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding-left: 20px;
  letter-spacing: -0.15px;
  color: #c4c4c4;
}

.category-select {
  width: 285px;
  height: 45px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  padding-left: 20px;
  letter-spacing: -0.15px;
  color: #999;
  font-family: 'Montserrat', sans-serif;
  margin-left: 34px;
}

.add-book-button {
  width: 184px;
  height: 45px;
  border-radius: 3px;
  background-color: #0290ff;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #fff;
  border: none;
  margin-left: 34px;
}
